
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Burned&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=PT+Sans+Narrow&family=Rubik+Burned&family=Rubik+Iso&display=swap');

#homePage{
    display: flex;
    justify-content: center;
    background-image: url(tvstatic.gif);
    height: 91.5vh;
    width: 100vw;
}

#siteTitle{
    display: flex;
    justify-content: center;
    margin-top: 170px;
    font-family: Creepster;
    color: hotpink;
    font-size: 70px;
    font-style: oblique;
    text-shadow: -4px 4px white;
}

