@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Lato:ital,wght@1,300&family=Rajdhani&family=Raleway:wght@300&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Burned&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=PT+Sans+Narrow&family=Rubik+Burned&family=Rubik+Iso&display=swap');

#productTitle{
    font-family: Creepster;
    font-size: 55px;
    color: hotpink;
    text-align: center;
    text-shadow: -3px 3px black;
}

.allProductsPresent {
    background-color: pink;
    background-image: url(products.webp);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 91.5vh;
    padding: 5%;
}

#productList {
    display: grid;
    align-items: center;
    text-align: center;
}

#prodSearchForm{
    text-align: center;
    margin-top: -30px;
}