.productViewDiv {
    display: center;
    background-image: url(productView.webp);
    background-position: center;
    background-size: auto;
    padding: 15%;
    padding-bottom: 50%;
}

#productViewCard {
    display: center;
}