
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Burned&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=PT+Sans+Narrow&family=Rubik+Burned&family=Rubik+Iso&display=swap');



#profileHead{
    font-family: creepster;
    margin-left: 15px;
}

#profileForm h2{
    font-family: monospace;
    margin-left: 25px;
}