
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Burned&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=PT+Sans+Narrow&family=Rubik+Burned&family=Rubik+Iso&display=swap');

#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(register.jpg);
    background-position:center;
}

#blurDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
    height: 50rem;
    border-radius: 10px;
}


#registerForm h1 {
    font-family: creepster;
    font-size: xx-large;
    text-shadow: 0px 7px 8px black;
    color: white;
}

#registerForm input {
    display: flex;
    flex-direction: column;
    height: 23px;
    width: 200px;
    margin-bottom: 18px;
    padding: 5px;
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-color: hotpink;
    box-shadow: 3px 5px hotpink;
    outline: none;
}

#logIn{
    text-decoration: none;
    border-style: solid;
    border-radius: 8px;
    padding: 6px;
    color: black;
    background-color: white;
    border-color: hotpink;
    box-shadow: 2px 2px hotpink;
    margin-top: 30px;
}

#registerForm button{
    padding: 1.5px;
    border-radius: 8px;
    border-style: solid;
    border-color: hotpink;
    box-shadow: 2px 2px hotpink;
    background-color: white;
    height: 25px;
    width: 100px;
    text-align: center;
    color: black;
}


#reqHeader {
    font-family: creepster;
    font-size: xx-large;
    color: white;
}

#singleReq {
    font-family: monospace;
    color: white;
    font-size: 15px;
    text-decoration: underline;
}


#signUp{
    border-color: hotpink;
    box-shadow: 2px 4px hotpink;
}